@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie zresetowania hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Zresetowano hasło. <a asp-page="./Login">Kliknij tutaj aby się zalogować</a>.
</p>
