@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w naszym salonie samochodowym!</h1>
    <img src="https://bi.im-g.pl/im/d9/ed/16/z24040153IBG,W-sobote-w-Katowicach-otwarto-nowy-salon-Volvo--Ur.jpg"/>
</div>
